/*
main yellow color:
dark blue color: #c29d0b 
*/



/* ---------------------------------- */
/* BASIC SETUP */
/* ---------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background-color: #fff;
    color: #555;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ---------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

section {
    padding: 80px 0;
}


/* ------- HEADINGS -------- */
h1,
h2,
h3 {
  
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;

}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%; 
    word-spacing: 2px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h4 {
    font-size: 95%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #f1c40f;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ------- PARAGRAPHS -------- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.centered {
    text-align: center;
}

.small-font {
    font-size: 80%;
}

/* ------- ICONS -------- */

.icon-big {
    font-size: 350%;
    display: block;
    color: #f1c40f;
    margin-bottom: 10px;
}


.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #f1c40f;
    font-size: 120%;
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}
/* ------- LINKS -------- */

a:link,
a:visited {
    color: #f1c40f;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ------- BUTTONS -------- */
.btn:link, 
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition:  background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #f1c40f;
    border: 1px solid #f1c40f;
    margin-right: 15px;

}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #f1c40f;
    color: #f1c40f;
}


.btn:hover,
.btn:active {
    background-color: #c29d0b;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #c29d0b;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #c29d0b;
    color: #fff;
}

/* ------- SECTIONS -------- */

.off-color {
    background-color: #f5f5f5;
}


/* ---------------------------------- */
/* HEADER */
/* ---------------------------------- */

.nav-header {
    width: 90%;
    margin: auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(img/header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 500px;
    top: 70%;
    left: 65%;
    transform: translate(-50%, -50%)
}

.dropdowns {

    display: inline-block;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    list-style: none;
    margin-top: 60px;
}

.dropdowns li {
    font-size: 90%;
    display: inline-block;
    margin-left: 40px;
    color: white;
    text-transform: uppercase;
}

.dropdowns li:first-child {
    margin: 0;
}

.main-nav {
    color: white;
    float: right;
    list-style: none;
    margin-top: 65px;
}

.main-nav li {
    font-size: 90%;
    display: inline-block;
    margin-left: 40px;
    color: white;
    text-transform: uppercase;
}

.main-nav li a:link,
.main-nav la a:visited {
    color: white !important ;
    padding: 8px 0;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #f1c40f; 
}
.hero-text-lead {
    font-size: 50%;
}